<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Ways to Make a Difference</title>
  </head>
  <style type="text/css">
    body {
      text-align:center;
      background-color: rgb(255,218,179);
      }
  </style>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1>About</h1>
    <p style="text-align:center;"> Ways to Make a Difference is a website developed by Imran Quazi, a computer science student at the University of Michigan.</p>
    <p style="text-align:center;"> Imran was inspired to make this website after seeing the several injustices committed towards POCs and people of other nations throughout the world. He was so concerned with the inaction of people in power and there apparent ignorance, so he decided to create a website that could be used to lead people to resources where they can help people throughout the world by donating or signing petitions.</p>
    <p style="text-align:center;"> This is the very first website that Imran has ever developed; He made this using both HTML/CSS and Python Flask. </p>
    <p style="text-align:center;"> Please share this website and know that your voice matters. Anyone can be the leading voice to make a difference. </p>
    {% endblock %}
  </body>
</html>