<!DOCTYPE html>
<html>
	<head>
		<title>Ways to Make a Difference</title>
	</head>

	<style type="text/css">
	body {
		text-align:center;
		background-color: rgb(255,218,179);}
	.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    background-color: none; 
    color: black;
    border: 2px solid #000000;
}
	.button:hover {
  	background-color: #d0f5f4;
  	color: black;
}
	</style>
	

	<body>
		    {% extends "template.html" %}
    		{% block content %}
		<h1>Ways to Make a Difference</h1>
		<h2>The links below take you to various petitions and places to donate to 		help a variety of causes:</h2>
		
		<h3>Jacob Blake:</h3>
		<p><a href="https://act.colorofchange.org/sign/justice_for_jacob/?sp_ref=667413729.176.210226.f.658651.2&referring_akid=44780.11497622.osseGs&source=fb_sp" class="button ">Jacob Blake: colorofchange.org </a></p>

		<p><a href="https://www.change.org/p/tony-evers-charge-the-cops-who-shot-jacob-blake" class="button ">Jacob Blake: change.org </a></p>

		<p><a href="https://www.thepetitionsite.com/219/318/032/justice-for-jacob-blake-another-unarmed-black-man-shot-in-the-back-7-times-by-cops/?TAP=1732?TAP=1732" class="button ">Jacob Blake: thepetitionsite.com </a></p>

		<p><a href="https://www.gofundme.com/f/justiceforjacobblake" class="button ">Jacob Blake: gofundme.com </a></p>
	</br>

		<h3>Breonna Taylor:</h3>
		<p><a href="https://www.change.org/p/andy-beshear-justice-for-breonna-taylor" class="button ">Breonna Taylor: change.org </a></p>

		<p><a href="https://sign.moveon.org/petitions/justiceforbre-police-officers-who-killed-breonna-taylor-must-be-fired?bucket=&source=twitter-share-button&utm_campaign=&utm_source=twitter&share=e57b02c1-bd0f-497f-8365-f51d6114576f" class="button ">Breonna Taylor: moveon.org</a></p>
		
		<p><a href="https://act.colorofchange.org/sign/justiceforbre-breonna-taylor-officers-fired?source=coc_main_website" class="button ">Breonna Taylor: colorofchange.org</a></p>

		<p><a href="https://www.thepetitionsite.com/152/670/429/justice-for-breonna-taylor-another-innocent-black-woman-murdered-by-police-in-her-own-home/" class="button ">Breonna Taylor: thepetitionsite.com</a></p>
	 </br>
		<h3>Elijah McClain:</h3>
		<p><a href="https://www.change.org/p/adams-county-district-attorney-justice-for-elijah-mcclain-48a81830-f891-4b04-ba28-c2625b916b96" class="button ">Elijah McClain: change.org</a></p>
		
		<p><a href="https://act.colorofchange.org/sign/file-criminal-charges-against-officers-who-murdered-elijah-mcclain/" class="button ">Elijah McClain: colorofchange.org</a></p>
		
		<p><a href="https://www.thepetitionsite.com/882/350/125/reopen-the-investigation-into-the-death-of-elijah-mcclain/#updatedTAP=1732" class="button ">Elijah McClain: thepetitionsite.com </a></p>

		<p><a href="https://www.gofundme.com/f/elijah-mcclain" class = "button">Elijah McClain: gofundme.com</a></p>
	 </br>
		<h3>Shukri Abdi:</h3>
		<p><a href="https://www.change.org/p/manchester-police-justice-for-shukri-abdi?utm_content=cl_sharecopy_16460961_en-GB%3Av5&recruiter=915882510&recruited_by_id=9c43dbd0-ecec-11e8-bdd0-1b3764ec6e8e&utm_source=share_petition&utm_medium=copylink&utm_campaign=psf_combo_share_initial&utm_term=psf_combo_share_initial&pt=AVBldGl0aW9uAKEs%2BwAAAAAAXtom5ANUdQk2NWQ0YzBlYQ%3D%3D"	class="button">Shukri Abdi: change.org </a></p>

		<p><a href="https://www.gofundme.com/f/shurki-abdis-family" class="button ">Shukri Abdi: gofundme.com </p></a>

		<p><a href="https://www.justgiving.com/crowdfunding/justice-for-shukri-abdi" class="button ">Shukri Abdi: justgiving.com </p></a> 
	</br>

		<h3>Yemen:</h3>
		<p><a href="https://www.change.org/p/stop-the-war-and-end-the-famine-in-yemen?utm_content=cl_sharecopy_13846129_en-GB%3Av1&recruiter=972334868&recruited_by_id=ebdd6e70-8fb9-11e9-ba92-31cfada2f959&utm_source=share_petition&utm_medium=copylink&utm_campaign=psf_combo_share_initial&utm_term=psf_combo_share_abi" class="button ">Stop the War and End the Famine in Yemen: change.org </a></p>
		<p><a href="https://sign.moveon.org/petitions/house-back-un-call-for" class="button "> Force White House Vote On Saudi War, Cholera & Famine: moveon.org</a></p>
		<p><a href="https://www.thepetitionsite.com/1/endhungerinYemen/" class="button ">End Hunger in Yemen: thepetitionsite.com</a></p>
		<p><a href="https://www.change.org/p/muslim-aid-justice-for-yemen?utm_content=cl_sharecopy_22540885_en-GB%3Av2&recruiter=1104217690&recruited_by_id=ee139c80-a554-11ea-a36a-a97d2cdd7da1&utm_source=share_petition&utm_medium=copylink&utm_campaign=psf_combo_share_abi&utm_term=psf_combo_share_abi" class="button ">Justice for Yemen: change.org</a></P>
	</br>

		<h3>Uyghurs: </h3>
		<p><a href="https://www.change.org/p/stand-up-for-the-uyghur-muslims-in-china-antonioguterres-amnesty-un" class= "button">Stand Up For The Uyghur Muslims In China: change.org
		</a>
		<p><a href="https://www.change.org/p/pakistan-s-government-to-demand-for-justice-for-muslims-in-uyghur" class="button">Justice for Uyghur Muslims: change.org
		</a></p>
		<p><a href="https://www.stopgenocide.org/close-the-camps/" class="button">Tell Congress To Put Pressure on China To End The Uighur Concentration Camps: stopgenocide.org</a></p>
		<p><a href="https://uhrp.org/support" class="button">Uyghur Human Rights Project: uhrp.org</a></p>
	</br>

	</br>
	</br>
		{% endblock %}
	</body>
</html>